<script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>
<script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.6.0/aframe/build/aframe-ar.js"></script>
<body style='margin : 0px; overflow: hidden;'>
	<a-scene embedded arjs='sourceType: webcam;'>
<!-- 		<a-marker preset="hiro"  url='marker/lego1.patt'>
			</a-box position='0 0.5 0' material='opacity: 0.5;'>
		</a-marker> -->
 		<a-marker-camera preset='custom' url='marker/lego1.patt')>
			</a-box position='0 0.5 0' material='opacity: 0.5;'>
		</a-marker-camera>
	</a-scene>
</body>

